/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
}

html {
    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    /* Custom font */
    @font-face {
        font-family: 'inter';
        src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
    }

    font-family: inter, sans-serif;

    scrollbar-gutter: stable;
}

/* Custom properties */
:root {
    /* Colors */
    --brand-color: rgb(54, 67, 186);
    --commercial-color: rgb(255, 205, 78);
    --content-neutral-light:rgb(255, 255, 255);
    --content-neutral-dark:rgb(16, 16, 16);
    --content-quiet:rgb(97, 97, 97);

    /* Font size */
    --font-size-heading-l: 2rem;
    --font-size-heading-m: 1.6rem;
    --font-size-heading-s: 1.4rem;
    --font-size-heading-xs: 1rem;

    --font-size-l: 1.4rem;
    --font-size-m: 1.1rem;
    --font-size-s: 1rem;

    /* Media gallery buttons */
    .media-gallery-button {
        width: 3.5em;
        aspect-ratio: 1;
        background-color: transparent;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background-color: rgb(234, 233, 247);
        }

        &:active {
            background-color: rgb(214, 212, 240);
        }

        svg {
            vertical-align: bottom;
            stroke: #101010;
        }
    }
/* Reclame*/
aside {
    background-color: var(--brand-color);
    padding: 1.25em;
    text-align: center;
    font-size: var(--font-size-s);
    color: var(--content-neutral-light);

    a {
        color: var(--content-neutral-light);
        text-decoration: 2px underline;
    }
}

