/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
}

html {
    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    scrollbar-gutter: stable;
}

/* Als hamburgermenu open is, dan kun je niet verder scrollen */
html:has(.is-open) {
    overflow: hidden;
}

/* Custom properties */
:root {
    /* Colors */
    --brand-color: rgb(54, 67, 186);
    --commercial-color: rgb(255, 205, 78);
    --content-neutral-light:rgb(255, 255, 255);
    --content-neutral-dark:rgb(16, 16, 16);
    --content-quiet:rgb(97, 97, 97);

    --navigation-button-hover: rgb(241, 240, 238);
    --navigation-button-active: rgb(225, 224, 223);

    --media-button-border-color: rgb(148, 148, 148);
    --media-button-hover-state-background-color: rgb(234, 233, 247);
    --media-button-active-state-background-color: rgb(214, 212, 240);


    /* Font size */
    --font-size-heading-l: 2rem;
    --font-size-heading-m: 1.6rem;
    --font-size-heading-s: 1.4rem;
    --font-size-heading-xs: 1rem;

    --font-size-l: 1.4rem;
    --font-size-m: 1.1rem;
    --font-size-s: 1rem;

    --font-weight-standard: 500;

    h1 {
        font-size: var(--font-size-heading-m);
    }
    
    h2 {
        font-size: var(--font-size-heading-m);
    }

    h3 {
        font-size: var(--font-size-heading-s);
    }

    h4 {
        font-size: var(--font-size-heading-xs);
    }

    /* Custom font */
    @font-face {
        font-family: 'inter';
        src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
    }

    * {
        font-family: 'inter', sans-serif;
    }

    /* Media gallery buttons */
    .media-gallery-button {
        width: 3.5em;
        aspect-ratio: 1;
        background-color: transparent;
        border: 1px solid var(--media-button-border-color);
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background-color: var(--media-button-hover-state-background-color);
        }

        &:active {
            background-color: var(--media-button-active-state-background-color);
        }

        svg {
            vertical-align: bottom;
            stroke: var(--content-neutral-dark);
        }
    }

    /* Primary navigation buttons*/
    .navigation-button {
        padding: 0.6em;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--content-neutral-dark);
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: var(--navigation-button-hover);
        }

        &:active {
            background-color: var(--navigation-button-active);
        }

        svg {
            vertical-align: bottom;
        }

    }

    /* Primary navigation links that look like buttons */
    .navigation-button-link {
        display: inline-block;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--content-neutral-dark);
        border-radius: 50%;
        padding: 0.4em 0.5em;

        &:hover {
            cursor: pointer;
            background-color: var(--navigation-button-hover);
            transition: 0.3s;
        }

        &:active {
            background-color: var(--navigation-button-active);
        }

    }

    /* Searchbar */
    search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.1em;

        input {
            background-color: rgb(245, 244, 245);
            border: 1px solid transparent;
            border-radius: 20px;
            font-size: var(--font-size-m);
            padding: 0.6em 2em;
            width: 85vw;
            
            /* search-icon */
            background-image: url(../assets/search-icon.svg);
            background-repeat: no-repeat;
            background-position: 0.2em center;

            &::placeholder {
                color: var(--content-quiet);
                font-weight: var(--font-weight-standard);
            }
        }
    }

    /* Accordion information */
    .accordion-information {
        padding: 1em 1.5em;
        font-size: 14px;
        font-weight: var(--font-weight-standard);

        /* Title of accordion */
        summary {
            display: flex;
            align-items: center;
            gap: 0.5em;
            list-style-type: '';
            
            /* Icon to open accordion */
            &::after {
                content: url(../assets/accordion-icon-open.svg);
                margin-left: auto;
            }

            /* Icon to close accordion */
            [open] &::after {
                content: url(../assets/accordion-icon-close.svg);
            }
            
            &:hover {
                cursor: pointer;
            }
        }

        /* Content inside accordion when opened */
        p {
            padding: 0.5em 2em;
            color: var(--content-quiet);
            line-height: 1.4;
        }

        a {
            padding: 0 2em;
            color: var(--brand-color);
            text-decoration: none;

            &:hover {
                color: var(--content-neutral-dark);
            }
        }
    }

    /* Button transition time */
    button {
        &:hover {
            transition: 0.3s;
        }
    }
}

/* Reclame*/
aside {
    background-color: var(--brand-color);
    padding: 1.25em;
    text-align: center;
    font-size: var(--font-size-s);
    color: var(--content-neutral-light);

    a {
        color: var(--content-neutral-light);
        text-decoration: 2px underline;
    }
}

/* Primaire navigatie  */
.primairy-nav {
    .store-finder,
    .help-button {
        display: none;
    }

    .ham-menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: 1;
        list-style: none;
        font-size: var(--font-size-l);
        font-weight: 600;
        padding: 2em 1em;
        margin: 0;
        line-height: 1.1;
        background-color: var(--content-neutral-light);
        translate: -100%;
        transition: 0.3s;

        .ham-menu-button-close {
            position: absolute;
            right: 1em;
            margin-top: -1em;
        }

        li {
            padding: 0.5em 0;

            &:first-of-type{
                padding-top: 3em;
            }

            a {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                color: var(--content-neutral-dark);

                &:hover {
                    color: var(--brand-color);
                }
            }
        }

        &.is-open {
            translate: 0;
        }
    }   
}

/* Secundaire navigatie */
.secondary-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 1.5em;
    gap: 0.2em;

    a {
        color: var(--content-quiet);
        text-decoration: none;
    }

    svg {
        color: var(--content-quiet);   
    }

    /* Laat de secondary nav inklappen op mobiel */
    a:not(:nth-of-type(6)),
    svg {
        display: none;

        /* @media (min-width: 800px) {
            display: flex;
        } */
    }

    /* Voegt drie puntjes toe als secondary nav is ingeklapt */
    a:nth-of-type(6) {
        &::before {
            content: '...';
            margin-right: 0.5em;

            /* @media (min-width: 800px) {
                content: '';
                margin-right: 0;
            } */
        }
    }
}

/* Titel van tent */
hgroup {
    display: grid;
    gap: 0.5em;
    padding: 1em 1.5em;

    a {
        color: var(--content-neutral-dark);
        font-size: var(--font-size-l);
        font-weight: 700;
        text-decoration: none;
    }
}

/* Reviews */
.reviews {
    display: flex;
    gap: 0.8em;
    list-style: none;
    padding: 1em 1.5em;

    font-size: 14px;
    font-weight: var(--font-weight-standard);

    /* Lijn tussen de sterren en de link naar de reviews */
    .review-vertical-line {
        block-size: 1em;
        border-inline-start: 2px solid #E1E0DF;
    }

    a {
        color: var(--brand-color);
        text-decoration: none;
    }
}

/* Media gallerij */
.media-gallery {
    padding: 1em 1.5em;
    position: relative;

    /* Bewaar product knop */
    .save-product-button {
        position: absolute;
        top: 3em;
        right: 3em;
        background-color: transparent;
        border: 1px solid transparent;
        

        &:hover {
            cursor: pointer;
            svg {
                fill: #C4C0F7;
            }
        }

        /* Active state als er op geklikt is */
        &.active {
            animation-name: --heart-pound;
            animation-duration: 0.8s;
            svg {
                fill: var(--brand-color);
            }
        }
    }

    .big-image {
        width: 100%;
    }

    /* Lijst kleine foto's */
    ul {
        list-style: none;
        padding: 1em 0 0;
        display: flex;
        overflow-x: scroll;
        gap: 0.5em;
        /* Radiobutton checkbox onzichtbaar maken */
        .img-thumbnail-active input[type="radio"] {
            position: absolute;
            left: 0;
            opacity: 0;
        }

        /* Active/focused thumbnail foto */
        .img-thumbnail-active:has(input[type="radio"]:checked){
            img {
                border: 1.5px solid var(--brand-color);
                opacity: 1;
            }        
        }

        img {
            opacity: 0.7;

            &:hover {
                transition: 0.2s;
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    .media-gallery-button {
        margin-top: 1em;
    }
}

/* Animatie die hart laat knoppen bij bewaar product */
@keyframes --heart-pound {
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1);
  }
}

/* Product beschrijving */
.product-discription {
    padding: 1em 1.5em;
    font-weight: var(--font-weight-standard);
    line-height: 1.4;
    max-width:  50ch;
    font-size: var(--font-size-s);
}

/* Product ID */
.product-id {
    padding: 0 2em 1em;
    color: var(--content-quiet);
    font-size: 12px;
    font-weight: var(--font-weight-standard);
}

/* Description list voor varianten van het product */
.description-list-variants {
    display: flex;
    padding: 1.5em;
    gap: 0.5em;
    font-size: 14px;
    font-weight: var(--font-weight-standard);

    dd {
        color: var(--content-quiet);
    }
}

/* Product prijs */
.price-tag {
    margin: 1em 1em;
    padding: 3px;
    font-size: var(--font-size-l);
    font-weight: 600;
    background-color: var(--commercial-color);
    width: fit-content;
}

/* Knop om product in winkelmand te plaatsen */
.buy-button {
    display: flex;
    justify-content: center;
    padding: 1em 1.5em;

    button {
        background-color: var(--brand-color);
        color: var(--content-neutral-light);
        border: 1px solid transparent;
        padding-block: 1.5em;
        font-weight: var(--font-weight-standard);
        font-size: 15px;
        width: 100%;

        &:hover {
            cursor: pointer;
            background-color: #313daa;
        }

        &:active, &:focus {
            background-color: #262f82;
        }
    }
    
}

/* Delevery options */
.delevery-options {
    padding: 1.5em;
    font-size: 15px;
    font-weight: var(--font-weight-standard);

    h2 {
        font-size: var(--font-size-heading-s);
        font-weight: 600;
    }

    h3 {
        font-size: var(--font-size-heading-xs);
        font-weight: var(--font-weight-standard);
        display: flex;
        gap: 0.5em;
        color: var(--content-neutral-dark);
    }

    /* Buttons postalcode and store stock  */
    button {
        background-color: transparent;
        border: none;
        color: var(--brand-color);
        padding: 0 2.5em;
        font-weight: var(--font-weight-standard);

        &:hover {
            cursor: pointer;
            color: var(--content-neutral-dark);
        }
    }

    p {
        color: var(--content-quiet);
        padding: 0.5em 2em;

        &::before {
            content: url(../assets/green-dot.svg);
            margin-right: 0.5em;
            
        }
    }

    /* Home delevery option */
    .delevery-option-home-delevery {
        h3 {
            display: inline-block;
        }

        button {
            padding: 0 0.5em;
        }
    }

    .delevery-option-home-delevery,
    .delevery-option-in-store,
    .delevery-option-at-postnl {
        padding-bottom: 1em;
    }

    svg {
        vertical-align: top;
    }
}

/* Footer */
footer {
    background-color: var(--brand-color);
    padding: 2.5em 1.5em;
    display: grid;
    gap: 1em;
    
    /* Retourneren, ruilen en garantie */
    .return-and-warranty {
        display: grid;
        row-gap: 2em;
        list-style: none;
        
        padding:0 0 4em;
        line-height: 1.3;

        p {
            font-size: 14px;
        }
    }

    a {
        color: var(--content-neutral-light);
        text-decoration: none;
        font-size: var(--font-size-l);
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
    
    /* download and become memeber */
    .download-and-become-memeber {
        display: flex;
        gap: 0.3em;
        align-items: top;

        svg {
            stroke: var(--brand-color);
            fill: none;
            transition: 0.3s;
        }
        
        &:hover {
            color: #CDD0EE;
            text-decoration: none;

            svg {
                stroke: #CDD0EE;
            }
        }

        
    }

    svg {
        fill: var(--content-neutral-light);
    }

    /* Social media kanalen */
    .social-media-channels {
        list-style: none;
        display: flex;
        gap: 0.5em;
        padding: 1em 0;

        a {
            display: inline-flex;
            border: 1px solid var(--content-neutral-light);
            border-radius: 50%;
            padding: 0.3em;

            &:hover {
                background-color: #5E69C8;
                transition: 0.3s;
            }

            &:active, &:focus {
                background-color: #868ED6;
            }
        }

        svg {
            width: 0.75em;
        }
        
    }
}