/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
}

html {
    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    scrollbar-gutter: stable;
}

/* Custom properties */
:root {
    /* Colors */
    --brand-color: rgb(54, 67, 186);
    --commercial-color: rgb(255, 205, 78);
    --content-neutral-light:rgb(255, 255, 255);
    --content-neutral-dark:rgb(16, 16, 16);
    --content-quiet:rgb(97, 97, 97);

    --navigation-button-hover: rgb(241, 240, 238);
    --navigation-button-active: rgb(225, 224, 223);

    --media-button-border-color: rgb(148, 148, 148);
    --media-button-hover-state-background-color: rgb(234, 233, 247);
    --media-button-active-state-background-color: rgb(214, 212, 240);


    /* Font size */
    --font-size-heading-l: 2rem;
    --font-size-heading-m: 1.6rem;
    --font-size-heading-s: 1.4rem;
    --font-size-heading-xs: 1rem;

    --font-size-l: 1.4rem;
    --font-size-m: 1.1rem;
    --font-size-s: 1rem;

    --font-weight-standard: 500;

    h1 {
        font-size: var(--font-size-heading-m);
    }
    
    h2 {
        font-size: var(--font-size-heading-m);
    }

    h3 {
        font-size: var(--font-size-heading-s);
    }

    h4 {
        font-size: var(--font-size-heading-xs);
    }

    /* Custom font */
    @font-face {
        font-family: 'inter';
        src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
    }

    * {
        font-family: 'inter', sans-serif;
    }

    /* Media gallery buttons */
    .media-gallery-button {
        width: 3.5em;
        aspect-ratio: 1;
        background-color: transparent;
        border: 1px solid var(--media-button-border-color);
        border-radius: 50%;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background-color: var(--media-button-hover-state-background-color);
        }

        &:active {
            background-color: var(--media-button-active-state-background-color);
        }

        svg {
            vertical-align: bottom;
            stroke: var(--content-neutral-dark);
        }
    }

    /* Primary navigation buttons*/
    .navigation-button {
        padding: 0.6em;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--content-neutral-dark);
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: var(--navigation-button-hover);
        }

        &:active {
            background-color: var(--navigation-button-active);
        }

        svg {
            vertical-align: bottom;
        }

    }

    /* Primary navigation links that look like buttons */
    .navigation-button-link {
        display: inline-block;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--content-neutral-dark);
        border-radius: 50%;
        padding: 0.4em 0.5em;

        &:hover {
            cursor: pointer;
            background-color: var(--navigation-button-hover);
            transition: 0.3s;
        }

        &:active {
            background-color: var(--navigation-button-active);
        }

    }

}

/* Reclame*/
aside {
    background-color: var(--brand-color);
    padding: 1.25em;
    text-align: center;
    font-size: var(--font-size-s);
    color: var(--content-neutral-light);

    a {
        color: var(--content-neutral-light);
        text-decoration: 2px underline;
    }
}

